<div>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="filterValue" placeholder="Filter by name" />
    </mat-form-field>
    <table mat-table [dataSource]="items | filter: filterValue" class="mat-elevation-z8">
        <!-- name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> <a routerLink="/details/element.name">{{element.name}}</a> </td>
        </ng-container>

        <!-- age Column -->
        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> age </th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>

        <!-- city Column -->
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> city </th>
            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToDetails(row)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page" 
        [length]="totalItems" (page)="onPageChange($event)">
    </mat-paginator>
</div>
<div class="mat-elevation-z8" *ngIf="selectedItem">
    {{selectedItem.name}} - {{selectedItem.age}} - {{selectedItem.city}}
</div>