.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;

  @media screen and (max-width: 400px) {
    font-size: 0.5rem;
  }
}

a {
  color: blue;
}